<%= render 'shared/header' %>
<div class="dashboard">
<div class="banner_dashboard">
</div>

  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>

  <div class="search">
  <%= form_tag root_path, method: 'get' do%>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
  </div>

  <div class="wrapper-skinny">
  <%= will_paginate @guides, :previous_label => '←', :next_label => '→' %>

  <div id="dashboard_episodes">
    <ul class="cf">
    <% @guides.each do |guide| %>
    <div class="guide_each">
      <%= link_to user_guide_path(guide.user_id, guide) do %>
        <li class="cf guide">
          <%= image_tag guide.thumbnail(:medium), class: "guide_thumbnail" %>
          <div id="text">
            <h3><%= guide.title %></h3>
            <span id="description"><%= truncate guide.description, length: 300 %></span>
            <br>
            <small><%= guide.created_at.strftime("%d %B %Y") %></small>
            <% if guide.votes >= 0 %>
              <span id="votes_dashboard"><i class="fa fa-arrow-up"></i><%= guide.votes %></span>
            <% else %>
              <span id="votes_dashboard"><i class="fa fa-arrow-down"></i><%= guide.votes %></span>
            <% end %>
          </div>
        </li>
      <% end %>
      <div class="authorized_links">
        <% if (guide.user_id == current_user.id) || current_user.admin? %>
          <%= link_to "Edit", edit_user_guide_path(guide.user_id, guide) %>
          <%= link_to "Delete", user_guide_path(guide.user_id, guide), method: :delete, data: { confim: "Are you sure?"} %>
        <% end %>
      </div>
    </div>
    <% end %>
    </ul>
  </div>

  <%= will_paginate @guides, class: "pagination bottom", :previous_label => '←', :next_label => '→' %>
  </div>
</div>
